.default {
	fontSize = 18px;
	fontFamily = 'IBM 3270', monospace;
	bgColor = #000;
	color1 = #fff;
	color2 = green;
	color3 = #49b9c7;
	background-color: bgColor;
	color: color2;
	font: fontSize fontFamily;
	font-weight: bold;
	.collection-item--active {
		background-color: color2;
		color: color1;
	}
}